#formcart input,
#shoppingCart input,
.lproduct_content input,
.formulaireAjoutProduit input[type="submit"] {
 margin-top: 0.25rem;
 margin-bottom: 0.25rem;
}

/* mini panier : suppr prod */
.formRemProd{
 display:inline;
}
.miniDel{
 text-indent:-10000px;
 width:12px;
 height:3px;
 border:none;
}

.nombre {
 text-align: right;
}
/* choix cadeau */
.conteneurNomCadeau {
 display: none;
}
/* liste produits */
.tableauProduitsPanier {
 width: 100%;
 clear: both;
}

.product_content {
 min-height: 400px;
}
.product_pricettc {
 color: green;
 font-weight: bold;
 font-size: 2em;
}
.product_poidg {
 font-weight: bold;
 font-size: 1em;
}
.product_image {
 width: 99%;
 height: auto;
}
.image_product {
 width: 30%;
 float: right;
}
.image_product > .product_image {
 width: 100%;
}
.image_product form {
 text-align: center;
}
.cat_image {
 width: 100%;
 text-align: center;
}
.product_footer {
 text-align: center;
}
.product_addcart {
 cursor: pointer;
}

.basket_link_image {
 text-align: right;
}
.red {
 color: #e43d29;
}
.red:hover {
 color: #bc2818;
}

#notiShoppingCart {}

.list_products {
 padding: 0.25%;
 width: 100%;
 text-align: center;
}

.lproduct_content {
 width: 30%;
 min-width: 180px;
 max-width: 180px;
 display: inline-block;
 margin: 1%;
 text-align: center;
 background-color: transparent;
 padding: 10px 5px 5px 5px;
 border: 1px solid #dfdfdf;
 -webkit-border-radius: 2px;
 -moz-border-radius: 2px;
 -ms-border-radius: 2px;
 -khtml-border-radius: 2px;
 border-radius: 2px;
}

#shoppingCart span button, .lproduct_content, .product_addcart, #btnCart {
 -webkit-transition: background-color 0.5s;
 -moz-transition: background-color 0.5s;
 -ms-transition: background-color 0.5s;
 -khtml-transition: background-color 0.5s;
 transition: background-color 0.5s;
}

.lproduct_content:hover {
 background-color: rgba(0,0,0,0.1);
}

.lproduct_content header,.lproduct_content footer {
 text-align: center;
}
.lproduct_content header a img {
 min-height: 125px;
 max-height: 125px;
 width: auto;
 margin: 0px;
}
.lproduct_content footer {
 padding-top: 14px;
 background-color: transparent;
}
.lproduct_pricettc {
 color: green;
 font-weight: bold;
 font-size: 1em;
}

#msgUpDateCart {
 position: fixed;
 display: none;
 left: 0px;
 bottom: 0px;
 width: 100%;
 text-align: center;
 height: 32px;
 background-color: rgba(12,109,0,0.9);
 color: #fff;
 font-weight: bold;
}

.panierbloc {
 margin-left: 30px !important;
}

#listproducts {
 padding: 5px !important;
}

.productsect {
 box-shadow: 0px 0px 2px;
 height: 100% !important;
}

.productsect header {
 text-align: center !important;
 margin: 0px !important;
 font-weight: bold !important;
}

#spanshipping {}

#formcart #shoppingCart {
 margin: 3px !important;
}

#formcart p {
 margin: 0.2em !important;
 /* float: left; */
}
.startw, .star {color: red;}

#msgCart {
 margin-bottom: 1%;
 width: 90% !important;
}

.spanshippingp {}

.msgyeah {
 background-color: green;
 color: #fff;
}
.msgyeah2 {
 color: green;
}

.msgyeah3 {
 font-size: 100%;
}

.msgerror {
 color: red;
}

#notiNumShoppingCart {
 position: absolute;
 font-size: 16px;
 color: red;
 width: 38px;
 text-align: center;
 margin-top: -7px;
}
.clear{
 clear: both;
}
.green, #totalCart {
 color: green;
}
.hide, #formcart, #prodsCart {
 display: none;
}
.twenty, #postcode, #country {
 width: 20% !important;
 /* float: left; */
}
.thirty, #firstname, #lastname {
 width: 30% !important;
 /* float: left; */
}
b.thirty.clear {
 margin: 0 0 0 30%;
}
.forty, #city {
 width: 40% !important;
 /* float: left; */
}
b.forty {
 margin: 0 10% 0 30%;
}
.fifty, #email, #tel {
 width: 50% !important;
 /* float: left; */
}
.seventy, #adress {
 width: 75% !important;
 /* float: left; */
}
.ninety, #nomCadeau {
 width: 95% !important;
 /* float: left; */
}
.auto, #methodpayment {
 width: auto;
}
