.product_pricettc {
    color:green;
    font-weight:bold;
    font-size:2em;
}
.product_poidg {
    font-weight:bold;
    font-size:1em;
}
.product_image {
    width:99%;
    height:auto;
    
}
.product_priceimage {
    width:25%;
    float:right;
}
.cat_image {
    width:100%;
    text-align:center;
}
.product_footer {
    text-align:center;
}
.product_addcart {
    cursor:pointer;

}

#notiShoppingCart{
    
}

.list_products {
    padding:0.25%;
    width:100%;
    text-align:center;
}

.lproduct_content{
    width:25%;
    min-width:150px;
    max-width:200px;
    display:inline-block;
    margin:1%;
    text-align:center;
    background-color:transparent;
    padding:10px 5px 0px 5px;
    border:1px solid #dfdfdf;
    -webkit-border-radius: background-color 2px;
    -moz-border-radius: background-color 2px;
    -ms-border-radius: background-color 2px;
    -khtml-border-radius: background-color 2px;;
    border-radius: 2px;
}
#shoppingCart span button, .lproduct_content, .product_addcart, #btnCart {
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -khtml-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.list_products .lproduct_content:hover {
    background-color:rgba(0,0,0,0.1);
}

.lproduct_content header,.lproduct_content footer{
    text-align:center;
}
.lproduct_content header a img{
    min-height:105px;
    max-height:105px;
    width:auto;
    margin:0px;
}
.lproduct_content footer{
    padding-top:14px;
    background-color:transparent;
}
.lproduct_pricettc {
    color:green;
    font-weight:bold;
    font-size:1em;
}

#msgAddCart {
    position:fixed;
    display:none;
    left:0px;
    bottom:0px;
    width:100%;
    text-align:center;
    height:32px;
    background-color:rgba(12,109,0,0.9);
    color:#fff;
    font-weight:bold;
}

.panierbloc {
    margin-left:30px!important;
}

#listproducts {
    padding:5px!important;
}

.productsect {
    background-color:#fff;
    box-shadow:0px 0px 2px;
    height:100%!important
}

.productsect header {
    text-align:center!important;
    margin:0px!important;
    font-weight:bold!important;
}

#spanshipping {}

#formcart #shoppingCart {
    margin:3px!important;
}

#formcart p {
    margin-bottom:0.1em!important;
}
.startw, .star {color:red;}

#msgCart {
    display:none;
    margin-left:5%!important;
    margin-right:5%!important;
    width:90%!important;
}

.spanshippingp {}

.msgyeah {
    background-color:green;
    color:#fff;
}
.msgyeah2 {
    color:green;
}

.msgyeah3 {
    font-size : 100%;
}

.msgerror {
    color:red;
}

#notiNumShoppingCart {
    position:absolute;
    font-size:16px;
    color:red;
    width:38px;
    text-align:center;
    margin-top:-7px;
}

#totalCart {
    color:green;
}

#formcart, #firstname, #lastname, #city, #email, #tel, #country, #adress, #postcode,
#labelFirstnameCart, 
#labelMailCart, 
#labelTelCart, 
#labelAddrCart, 
#labelPostcodeCart, 
#labelCountryCart, 
#labelCityCart, 
#labelMsgCart, 
#prodsCart, 
#btnCart, 
#labelLastnameCart {
    display:none;
}

#postcode {
    width:20% !important;
}

#firstname, #lastname {
    width:30% !important;
}

#city {
    width:40% !important;
}

#email, #tel, #country {
    width:50% !important;
}
#adress {
    width:75% !important;
}
